beautifulsoup4==4.12.2
cloudscraper==1.2.71
Flask==2.3.3
Flask-APScheduler==1.13.1
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
Flask-Dance==7.0.0
Flask-Login==0.6.3
Flask-Migrate==4.0.5
Flask-Minify==0.42
flask-restx==1.2.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
lxml==4.9.3
mailtrap==2.0.1
numpy==1.26.1
nylas==5.14.1
openpyxl==3.1.2
pandas==2.1.2
PyJWT==2.8.0
python-dotenv==1.0.0
WTForms-Alchemy==0.18.0
langchain==0.1.14
langchain-openai==0.1.1
kor