{% extends 'layouts/base.html' %}

{% block title %}  {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.3.2/css/fixedHeader.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.bootstrap5.min.css">

    <!-- tooltip more wider -->
    <style>
        #tooltipIcon:hover {
            cursor: pointer;
        }

        #tooltipModal {
            z-index: 10000;
        }

    </style>
{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
        
        <div class="container mt-5">
            <button class="btn btn-success bg-gradient-success" data-bs-toggle="modal" data-bs-target="#creatCampaignModalMessage" {% if current_user.nylas_access_token or mailings  %} onclick="createCampaign()"{% endif %}  >Create campaign</button>
            <div class="card col shadow-lg border-0 rounded-lg">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">My Campaign</h3></div>
                <div class="card-body">
                <div class="d-flex justify-content-end mt-3 mb-3">
                    <a class="btn btn btn-outline-danger btn-sm" href="/archived_campaigns_view" >Switch to Archived View &#8594;</a>
                </div>
                <table style="width:100%" id="filtersTable" class="table table-striped table-bordered nowrap">
                    <thead>
                    <tr>
                        <th>ContactFile</th>
                        <th>Workflow</th>
                        <th>Created On</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Rows will be added dynamically using JavaScript -->
                    </tbody>
                </table>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-6">
            <!-- Modal -->
            <div class="modal fade" id="creatCampaignModalMessage" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="importTemplateModalMessageTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="importTemplateModalLabel">Create Campaign</h5>
                            <button type="button" class="btn-close text-dark" id="close-modal" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form id="create-campaign-form" action="/create/campaign" method="post">
                            <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
                            <div class="modal-body">
                                {% if current_user.nylas_access_token or mailings %}
                                    <div class="form-group" >
                                        <label for="select-contacts" class="col-form-label">Select Contacts:</label>
                                        <select class="form-control form-select" id="select-contacts" name="select-contacts">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="select-workflow" class="col-form-label">Select Workflow:</label>
                                        <select class="form-control form-select" id="select-workflow" name="select-workflow">
                                        </select>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label for="workflow-description" class="col-form-label">Description:</label>
                                        <textarea type="text" class="form-control" id="workflow-description" name="workflow-description" readonly></textarea>
                                    </div> -->
                                    <div class="form-group">
                                        <label for="max-emails-per-day" class="col-form-label">Max Emails Per Day:</label>
                                        <input type="number" class="form-control" id="max-emails-per-day" min="1" max="" name="max-emails-per-day" required></input>
                                        <input type="hidden" id="emails-daily-limit" name="emails-daily-limit" >
                                    </div>
                                    <p class="mb-4 mx-auto text-info" id="user-notification"></p>
                                    <!-- Error notification when user put over max emails per day -->
                                    <p class="mb-4 mx-auto text-danger" role="alert" id="error-notification" style="display: none;">
                                    </p>

                                {% elif current_user.hasCustom %}
                                    <div class="form-group" >
                                        <label for="select-contacts" class="col-form-label">Select Contacts:</label>
                                        <select class="form-control form-select" id="select-contacts" name="select-contacts">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="select-workflow" class="col-form-label">Select Workflow:</label>
                                        <select class="form-control form-select" id="select-workflow" name="select-workflow">
                                        </select>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label for="workflow-description" class="col-form-label">Description:</label>
                                        <textarea type="text" class="form-control" id="workflow-description" name="workflow-description" readonly></textarea>
                                    </div> -->
                                    <div class="form-group">
                                        <label for="max-emails-per-day" class="col-form-label">Max Emails Per Day:</label>
                                        <input type="number" class="form-control" id="max-emails-per-day" min="1" max="" name="max-emails-per-day" required></input>
                                        <input type="hidden" id="emails-daily-limit" name="emails-daily-limit" >
                                    </div>
                                    <p class="mb-4 mx-auto text-info" id="user-notification"></p>
                                    <!-- Error notification when user put over max emails per day -->
                                    <p class="mb-4 mx-auto text-danger" role="alert" id="error-notification" style="display: none;">
                                    </p>
                                {% else %}
                                    <a href='{{ url_for("home_blueprint.nylas_auth") }}' class="btn btn-primary">Connect EMAIL</a>
                                    <a href='https://unimailer.roboticbookingagent.com/?userId={{current_user.id}}&redirectUrl={{ request.url }}' class="btn btn-primary">Connect EMAIL via Unimail</a>
                                {% endif %}
                            </div>
                            {% if current_user.nylas_access_token or mailings%}
                                <div class="modal-footer form-group">
                                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn bg-gradient-primary" id="create-campaign-button" >Create</button>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="archiveCampaignModal" tabindex="-1" role="dialog" aria-labelledby="archiveCampaignModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="archiveCampaignModalLabel">Are you sure to archive this Campaign?</h5>
                  <button type="button" class="btn-close text-dark" id="close-archivejob-modal" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/campaign/archive" style="display: contents" method="post"> 
                    <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="campaignid" id="archive-modal-campid"/>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cancel</button>
                        <input class="btn btn-danger" type="submit" tabindex="0" value="Archive">
                    </div>
                </form>
              </div>
            </div>
        </div>
        
      <!-- tooltip modal   -->
      <div class="modal fade" id="tooltipModal" tabindex="-1" role="dialog" aria-labelledby="tooltipModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="tooltipModalLabel">Unsubscribe contact upon reply</h5>
              <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div style="font-family: Arial, sans-serif; line-height: 1.6;">
                  <h4 style="color: red;">***IMPORTANT PLEASE READ CAREFULLY***</h4>

                  <p><strong>PROFILE TAB &gt; Unsubscribe Contact Upon Reply &gt; (DEFAULT = ON)</strong></p>

                  <p><strong>What It Does:</strong><br>
                  When this is <strong>ENABLED (Default!)</strong>, anytime someone responds to your campaign (even if it's an auto-response), 
                  that email & all emails associated with that venue will be <strong>automatically unsubscribed</strong> from future follow-up emails in that sequence.</p>

                  <p>When it’s <strong>DISABLED</strong>, venues replying to your emails <strong>won’t</strong> get unsubscribed from the follow-up sequence — 
                  the contact will continue receiving the rest of the scheduled emails unless you manually unsubscribe them from the campaign.</p>

                  <h5>Why You Might Want to Leave It ON:</h5>
                  <ul>
                    <li>If someone responds but you forget to manually unsubscribe them, it can get awkward — especially if they already said “not interested”, 
                    or worse, are already considering booking you, but end up still getting ANOTHER follow-up email later.</li>
                    <li>Be honest with yourself — if you’re busy and not always on top of checking every reply right away and unsubscribing contacts — 
                    you want to leave this on (<strong>NO NEED TO CHANGE ANYTHING / DEFAULT = ON</strong>).</li>
                    <li>The only downside is, all the people who are interested in booking you — you will have to keep following up with them (if necessary) 
                    <strong>manually</strong> every time until you get booked.</li>
                    <li>You can always seamlessly subscribe them back by toggling the <strong>SUBSCRIBED</strong> button.</li>
                  </ul>

                  <p><strong>NOTE:</strong> ANYTIME someone responds to an email a reminder will be created, so don't worry — your leads won't fall through the cracks.</p>

                  <h5>Why You Might Want to Turn It OFF:</h5>
                  <ul>
                    <li>If you’re great at keeping track of replies and unsubscribing people manually, this setting may not be necessary.</li>
                    <li>It’s helpful to switch it “off” in cases where someone replies positively (e.g., “What’s your pricing?”).</li>
                    <li>Then you reply back, but if they don’t respond again, the automated follow-ups will still go out — which can help you close the deal.</li>
                    <li>This prevents ghosting or you getting bogged down by committing to weekly follow-up emails manually, since they are still subscribed to the auto-emailing system.</li>
                  </ul>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
        {% include "includes/footer.html" %}
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/responsive.bootstrap.min.js"></script>
<script>
    var templates = null;

    function get_workflows() {
        fetch('/get_workflows',{
            method: 'POST',
        })
        .then((response) => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json(); // Extract the response body as text
        })
        .then((res) => {
            var options = "";
            console.log(res);
            templates = res.templates;
            contacts = res.contacts;
            emails_daily_limit = res.emails_daily_limit;

            if (templates.length == 0) {
                document.getElementById("select-workflow").innerHTML = '<option value="">No Workflow Available</option>';
                
            } else {
                for (let i = 0; i < templates.length; i++) {
                     console.log(res[i])
                    options += '<option ' +  ' value="' + templates[i].id +'">' + templates[i].template_name + "</option>" ;
                }
                document.getElementById("select-workflow").innerHTML = options;
                // document.getElementById("workflow-description").innerHTML = templates[0].template_desc;
            }

            if (contacts.length == 0) {
                document.getElementById("select-contacts").innerHTML = '<option value="">No Contact Available</option>';
            } else {
                options = "";
                for (let i = 0; i < contacts.length; i++) {
                    // console.log(res[i])
                    options += '<option ' + 'data="' + contacts[i].service_count + '"' +  ' value="' + contacts[i].id +'">' + contacts[i].description + "(" + contacts[i].service_count +") </option>";
                }
                document.getElementById("select-contacts").innerHTML = options;
            }

            if (templates.length == 0 || contacts.length == 0) {
                document.getElementById("create-campaign-button").disabled = true;
            } else {
                document.getElementById("create-campaign-button").disabled = false;
            }

            document.getElementById("max-emails-per-day").max = emails_daily_limit;
            document.getElementById("emails-daily-limit").value = emails_daily_limit;
            document.getElementById("user-notification").innerHTML = "*The daily email sending limit is a suggested maximum of 50 emails PER day PER email address. Please contact support for anything above this daily suggested limit for a workaround.";
            document.getElementById("error-notification").innerHTML = "ERROR: Only " + emails_daily_limit +" emails per day max; Please reduce your Contacts list to no more than " + emails_daily_limit * 7 + " total (" + emails_daily_limit + " per day 7 days a week )"

            // active option total emails
            var total_emails = document.getElementById("select-contacts").selectedOptions[0].getAttribute("data");
            total_emails = parseInt(total_emails);

            if (emails_daily_limit * 7 < total_emails) {
                document.getElementById("error-notification").style.display = "block";
                document.getElementById("create-campaign-button").disabled = true;
            }

            if (contacts.length > 0) {
                calculateMaxEmailsPerDay(contacts[0].service_count, emails_daily_limit);
            }

        })
        .catch((err) => {
            console.log(err);
            Swal.fire({
                icon: "warning",
                title: "Oops...",
                text: "Something went wrong!",
            });
        });

        // For showing start time of Campaign : might be needed in the future
        // var now = new Date();
        // local_now = new Date(now.getTime() - now.getTimezoneOffset()*60000 + 2).toISOString().substring(0,19)
        // console.log(now);
        // document.getElementById("automation-datetime-local-input").value = local_now;

    };


    // create function to calculate max_emails_per_day
    function calculateMaxEmailsPerDay(total_emails, emails_daily_limit) {
        // if total_emails / 7 is bigger than max_emails_per_day, then set max_emails_per_day to total_emails // 7 + 1
        // else set max_emails_per_day to total_emails
        var max_emails_daily = 0;
        if (total_emails / 7 < emails_daily_limit) {
            max_emails_daily = Math.floor(total_emails / 7) + 1;
        } else {
            max_emails_daily = emails_daily_limit;
        }

        document.getElementById("max-emails-per-day").value = max_emails_daily;

    }


    $(document).ready(function () {
        // const selectElement = document.getElementById("select-workflow");
        // const result = document.querySelector(".result");

        // selectElement.addEventListener("change", (event) => {
        //     for (let  i = 0; i <  templates.length; i++) {
        //         if (templates[i].id == event.target.value) {
        //             document.getElementById("workflow-description").innerHTML = templates[i].template_desc
        //         }
        //     }

        // });


        // Get workflows
        get_workflows();

        // Initialize DataTable
        var dataTable = $('#filtersTable').DataTable({
                responsive: true,
                pageLength: 50,
                columnDefs: [
                {
                    target: 2,
                    render: DataTable.render.datetime()
                }],
                order : [],
                ajax: {
                    url: '/get_campaigns',
                    dataSrc: ''
                },
                columns: [
                    {data: 'contact_name'},
                    {data: 'templatename'},
                    {data: 'create_datetime'},
                    {
                        data: 'id', // Assuming the id property is present in your data
                        render: function (id, type, row) {
                            // Create action buttons HTML'
                            var campaignid = row.campaignid;
                            var buttons = '<a class="btn btn-success btn-sm" href="/campaign/view/' + campaignid + '">View</a> ' +
                                '<button class="btn btn-secondary btn-sm" data-bs-toggle="modal" id="camp_' + id + '" data-bs-target="#archiveCampaignModal" type="submit">Archive</button>';

                            return buttons;
                        }
                    }
                    
                ]
            },
        );
        
        $('#filtersTable').on('click', 'button', event => {
            // console.log(data)
            if (event.target.innerText === "ARCHIVE") {
                const id = event.target.id.split("_")[1];
                document.getElementById("archive-modal-campid").value = id;
            } else {
                console.log(event.target.innerText)
            }
        });

        $('#create-campaign-form').on('submit', function(e) { //use on if jQuery 1.7+
            e.preventDefault();  //prevent form from submitting
            const workflow_id = document.getElementById("select-workflow").value;
            const contactfile_id = document.getElementById("select-contacts").value;
            const max_emails_per_day = document.getElementById("max-emails-per-day").value;
            // const start_date = document.getElementById("start-date").value;

            $('#close-modal').click();

            Swal.fire({
                title: 'Creating Campaign...',
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                },
            });

            fetch('/create/campaign',{
                method: 'POST',
                headers : { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    "workflow_id" : workflow_id,
                    "contactfile_id" : contactfile_id,
                    "max_emails_per_day" :max_emails_per_day
                    // 'start_date' : start_date
                }),
            })
            .then((response) => {
                if(!response.ok)
                    return response.text().then(text => { throw new Error(text) })
                else
                    return response.json()
            })
            .then((data) => {
                if (data.success) {
                    console.log(data);
                    dataTable.ajax.reload();
                    Swal.fire({
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 2000
                    });
                } else {
                    console.log(data.message);
                    Swal.fire({
                        icon: "warning",
                        title: "Sorry but you can't create new campaign.",
                        text: data.message,
                    });
                }
            })
            .catch((err) => {
                console.log(err);
                Swal.fire({
                    icon: "warning",
                    title: "Oops...",
                    text: data.message,
                });
            })
        });

        $('#archiveCampaignModal').on('submit', function(e) { //use on if jQuery 1.7+
            e.preventDefault();  //prevent form from submitting
            const campid = document.getElementById("archive-modal-campid").value;

            $('#close-archivejob-modal').click();

            Swal.fire({
                title: 'Archiving Campaign...',
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                },
            });

            const formData = new FormData();
            formData.append('campid', campid);
            formData.append('csrf_token', document.getElementById("csrf_token").value);

            fetch('/campaign/archive',{
                method: 'POST',
                body: formData
            })
            .then((response) => {
                if(!response.ok)
                    return response.text().then(text => { throw new Error(text) })
                else
                    return response.json()
            })
            .then((data) => {
                if (data.success) {
                    // console.log(data);
                    dataTable.ajax.reload();
                    Swal.fire({
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 2000
                    });
                } else {
                    console.log(data.message);
                    Swal.fire({
                        icon: "warning",
                        title: "Oops...",
                        text: data.message,
                    });
                }
            })
            .catch((err) => {
                console.log(err);
                Swal.fire({
                    icon: "warning",
                    title: "Oops...",
                    text: data.message,
                });
            })
        });

        // var interval = setInterval(function () {
        //     dataTable.ajax.reload();
        // }, 30000);

        // contacts option changed event
        $('#select-contacts').on('change', function() {
            var total_emails = document.getElementById("select-contacts").selectedOptions[0].getAttribute("data");
            var emails_daily_limit = document.getElementById("max-emails-per-day").max;

            // convert to integer
            total_emails = parseInt(total_emails);
            emails_daily_limit = parseInt(emails_daily_limit);

            calculateMaxEmailsPerDay(total_emails, emails_daily_limit);

            // hide error notification
            document.getElementById("error-notification").style.display = "none";

            if (emails_daily_limit * 7 < total_emails) {
                document.getElementById("error-notification").style.display = "block";
                document.getElementById("create-campaign-button").disabled = true;
            } else {
                document.getElementById("error-notification").style.display = "none";
                document.getElementById("create-campaign-button").disabled = false;
            }

        });
        // max-emails-per-day user input event
        $('#max-emails-per-day').on('input', function(e) {
            var max_emails_per_day = e.target.value;
            var emails_daily_limit = document.getElementById("emails-daily-limit").value;
            var total_emails = document.getElementById("select-contacts").selectedOptions[0].getAttribute("data");

            // convert to integer
            max_emails_per_day = parseInt(max_emails_per_day);
            emails_daily_limit = parseInt(emails_daily_limit);
            total_emails = parseInt(total_emails);

            if (max_emails_per_day <= emails_daily_limit && max_emails_per_day * 7 >= total_emails) {
                document.getElementById("error-notification").style.display = "none";
                document.getElementById("create-campaign-button").disabled = false;
            } else {
                document.getElementById("error-notification").style.display = "block";
                document.getElementById("create-campaign-button").disabled = true;
            }
            
        });

        // open modal event
        $('#creatCampaignModalMessage').on('show.bs.modal', function (e) {
           // hide error notification
            var max_emails_per_day_input = document.getElementById("max-emails-per-day");
            if (max_emails_per_day_input) {
                var max_emails_per_day = max_emails_per_day_input.value;
            } else {
                return;
            }
            var emails_daily_limit = document.getElementById("emails-daily-limit").value;

            // convert to integer
            max_emails_per_day = parseInt(max_emails_per_day);
            emails_daily_limit = parseInt(emails_daily_limit);

            if (max_emails_per_day > emails_daily_limit) {
                document.getElementById("error-notification").style.display = "block";
                document.getElementById("create-campaign-button").disabled = true;
            } else {
                document.getElementById("error-notification").style.display = "none";
                document.getElementById("create-campaign-button").disabled = false;
            }

        });

        
        // Unsubscribe contact upon reply, catch switch event and submit to server
        $('#auto-unsub').on('change', function() {
        const is_auto_unsub = this.checked ? 1 : 0;
        const formData = new FormData();
        formData.append('is_auto_unsub', is_auto_unsub);
        formData.append('csrf_token', document.getElementById("csrf_token").value);

        fetch('/update_auto_unsub',{
            method: 'POST',
            body: formData
        })
        .then((response) => {
            if(!response.ok)
                return response.text().then(text => { throw new Error(text) })
            else
                return response.json()
        })
        .then((data) => {
            if (data.success) {
                console.log(data);
                Swal.fire({
                    icon: 'success',
                    title: data.message,
                    showConfirmButton: false,
                    timer: 2000,
                    toast: true,
                    position: 'top-end',
                    // top right position

                });
            } else {
                console.log(data.message);
                Swal.fire({
                    icon: "warning",
                    title: "Something wrong in updating auto unsub!",
                    text: data.message,
                });
            }
        })
        .catch((err) => {
            console.log(err);
        })
        });


    });
</script>
{% endblock javascripts %}
