{% extends 'layouts/base.html' %}

{% block title %} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.3.2/css/fixedHeader.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.bootstrap.min.css">
{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
        <div class="container mt-5">
            <div class="d-flex justify-content-center align-items-center min-vh-10">
                {% if current_url.state == "completed" %}
                    <div>
                        <h2 id="para">Completed</h2>

                        <a style="display: block" id="btnview" href="/url/view/{{ current_url.id }}"
                           class="btn btn-danger btn-sm">View Data</a>
                    </div>
                {% else %}
                    <div>
                        <img id="loader" height="100px" width="100ox" src="../../static/assets/img/loading.gif"
                             alt="Centered Image"
                             class="img-fluid">
                        <br/>
                        {#                        <a id="btnstop" href="" class="btn btn-danger btn-sm">Stop</a>#}
                        <h2 id="para"></h2>
                        <a style="display: none" id="btnview" href="/url/view/{{ current_url.id }}"
                           class="btn btn-danger btn-sm">View Data</a>
                        <a style="display: block" id="btnstop" href="/process_stop/{{ current_url.id }}"
                               class="btn btn-danger btn-sm">Stop Process</a>
                    </div>

                    <div>

                    </div>

                {% endif %}
            </div>
            {# <div class="card-header"><h3 class="text-center font-weight-light my-4">My URLs</h3></div>#}

            <div class="card-body">
                <table style="width:100%" id="filtersTable" class="table table-striped table-bordered nowrap">
                    <thead>
                    <tr>
                        {#                            <th>ID</th>#}
                        {#                            <th>Username</th>#}
                        <th>venue</th>
                        <th>phone</th>
                        <th>address</th>
                        <th>type</th>
                        <th>website</th>
                        <th>email1</th>
                        <th>email2</th>
                        <th>email3</th>
                        <th>email4</th>
                        <th>facebookemail1</th>
                        <th>facebookemail2</th>
                        <th>facebook</th>
                        <th>bademail</th>

                    </tr>
                    </thead>
                    <tbody>
                    <!-- Rows will be added dynamically using JavaScript -->
                    </tbody>
                </table>
            </div>
            <!-- Add Google map, disable scroll on the map  -->
            <div id="map" style="height: 400px; width: 100%; padding-top: 20px;"></div>
        </div>

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/responsive.bootstrap.min.js"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>#}
    {#    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>#}
    {#    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>#}
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1gJVpuNrhHJXNYmm_zikTZgmADxo1mDY&loading=async&libraries=places,maps,marker&v=beta" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        Swal.fire(
            'Processes Started!',
            'We will email when your results are ready to be downloaded! Please allow up to 10min for every 240 records. Feel free to navigate away from this page',
            'success'
        );
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var alarm = new Audio("static/assets/sounds/Twinkle.mp3");
        
        var loaderImage = document.getElementById("loader");
        var paraElement = document.getElementById("para");
        var btnView = document.getElementById("btnview");
        var btnStop = document.getElementById("btnstop");
        let map;
        
        async function initmap() {
            center_lat = '{{ current_url.latitude }}' ? parseFloat('{{ current_url.latitude }}') : 37.7749;
            center_lng = '{{ current_url.longitude }}' ? parseFloat('{{ current_url.longitude }}') : -122.4194;

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: {lat: center_lat, lng: center_lng},
                mapId: "yelp_search_map_id",
            });

            // Prevent page scroll when interacting with the map
            map.getDiv().addEventListener('wheel', function(event) {
                event.stopPropagation();
                event.preventDefault();
            }, { passive: false });
        }
      
        var dataTable = $('#filtersTable').DataTable({
            responsive: true,
            order : [],
            
            ajax: {
                url: '/view_url_history/{{ current_url.id }}',
                dataSrc: ''
            },
            columns: [
                {data: 'venue', defaultContent : ""},
                {data: 'phone', defaultContent : ""},
                {data: 'address', defaultContent : ""},
                {data: 'venue_type', defaultContent : ""},
                {
                    data: 'website',
                    render: function (website, type, row) {
                        return '<a href="' + website + '" target="_blank">' + website + ' </a>'
                    },
                },
                {data: 'email1', defaultContent : ""},
                {data: 'email2', defaultContent : ""},
                {data: 'email3', defaultContent : ""},
                {data: 'email4', defaultContent : ""},
                {data: 'fbemail1', defaultContent : ""},
                {data: 'fbemail2', defaultContent : ""},
                {
                    data: 'facebook',
                    render: function (facebook, type, row) {
                        return '<a href="' + facebook + '" target="_blank" >' + facebook + ' </a>'
                    },
                },
                {data: 'bademail', defaultContent : ""},
            ]
        });
        
        var interval = setInterval(function () {
            fetch('/check_state',{
                method: 'POST',
                headers : { 'Content-Type': 'application/json' },
                body: JSON.stringify({id : '{{ current_url.id }}' }),
            })
            .then((response) => {
                if (!response.ok) {
                throw new Error('Network response was not ok');
                }
                return response.text(); // Extract the response body as text
            })
            .then((res) => {
                running_status = res;
                console.log(running_status)

                if (running_status == "completed") {
                    btnstop_ = document.getElementById("btnstop");
                    
                    paraElement.textContent = "Process Completed";
                    alarm.play()
                    clearInterval(interval);

                    if (loaderImage){
                        loaderImage.style.display = "none";
                    }
                    if (btnStop){
                        btnStop.style.display = "none";
                    }
                    if (btnView){
                        btnView.style.display = "block";
                    }
                }
                updatemap();
            })
            .catch((err) => {
                console.log(err)
            });
            dataTable.ajax.reload();

        }, 3000);

        let markers = []; // Array to store marker references

        async function updatemap() {
            // Create a map centered at the first location
            const { Map, InfoWindow } = await google.maps.importLibrary("maps");
            const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary(
                "marker",
            );
            
            const infoWindow = new InfoWindow();
            
            //Get table data
            var table = $('#filtersTable').DataTable();
            var locations = table.rows().data();

            // clear all markers
            markers.forEach((marker) => {
                marker.setMap(null);
            });
            markers = [];
            
            // Add markers to the map
            locations.each(function (location, index) {
                
                const pin = new PinElement({
                    glyph: `${index + 1}`,
                    // scale: 1.5,
                });
                
                if (!location.latitude || !location.longitude || location.latitude == "" || location.longitude == "") {
                    return;
                }

                // console.log(location)
                const marker = new google.maps.marker.AdvancedMarkerElement({
                    map,
                    position: {lat: parseFloat(location.latitude), lng: parseFloat(location.longitude)},
                    title: location.venue,
                    content: pin.element,
                    gmpClickable: true,
                });

                markers.push(marker);

                marker.addListener("click", ({ domEvent, latLng }) => {
                    const { target } = domEvent;
                    infoWindow.close();
                    // create html with thumbnail and title
                    const content = '<img src="' + location.thumnailurl + '" style="width:150px;height:150px;"><br>' + '<p>' + location.venue + '</p>';
                    infoWindow.setContent(content);
                    // infoWindow.setContent(marker.title);
                    infoWindow.open(marker.map, marker);
                });
            });

        }

        window.onload = function () {
            initmap();
        };
    
    </script>
{% endblock javascripts %}
