{% extends 'layouts/base.html' %}

{% block title %} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.3.2/css/fixedHeader.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.bootstrap.min.css">
{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
        <div class="container mt-5">
            <div class="d-flex justify-content-center align-items-center min-vh-10">
                {% if current_url.state == "completed" %}
                    <div>
                        <h2 id="para">Completed</h2>

                        <a style="display: block" id="btnview" href="/url/view/{{ current_url.id }}"
                           class="btn btn-danger btn-sm">View Scraped Data</a>
                    </div>
                {% else %}
                    <div>
                        <img id="loader" height="100px" width="100ox" src="../../static/assets/img/loading.gif"
                             alt="Centered Image"
                             class="img-fluid">
                        <br/>
                        {#                        <a id="btnstop" href="" class="btn btn-danger btn-sm">Stop</a>#}
                        <h2 id="para"></h2>
                        <a style="display: none" id="btnview" href="/url/view/{{ current_url.id }}"
                           class="btn btn-danger btn-sm">View Scraped Data</a>
                        <a style="display: block" id="btnstop" href="/process_stop/{{ current_url.id }}"
                               class="btn btn-danger btn-sm">Stop Process</a>
                    </div>

                    <div>

                    </div>

                {% endif %}
            </div>
            {# <div class="card-header"><h3 class="text-center font-weight-light my-4">My URLs</h3></div>#}

            <div class="card-body">
                <table style="width:100%" id="filtersTable" class="table table-striped table-bordered nowrap">
                    <thead>
                    <tr>
                        {#                            <th>ID</th>#}
                        {#                            <th>Username</th>#}
                        <th>venue</th>
                        <th>phone</th>
                        <th>address</th>
                        <th>type</th>
                        <th>website</th>
                        <th>email1</th>
                        <th>email2</th>
                        <th>email3</th>
                        <th>email4</th>
                        <th>facebookemail1</th>
                        <th>facebookemail2</th>
                        <th>facebook</th>
                        <th>bademail</th>

                    </tr>
                    </thead>
                    <tbody>
                    <!-- Rows will be added dynamically using JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/responsive.bootstrap.min.js"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>#}
    {#    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>#}
    {#    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        Swal.fire(
            'Scraping Started!',
            'We will email when your results are ready to be downloaded!',
            'success'
        );
        $(document).ready(function () {
            // Initialize DataTable
            $('#filtersTable').DataTable(
                {responsive: true},
            );
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function () {
            console.log('Connected to WebSocket');
        });

        socket.on('message', function (data) {
            console.log(data)
            var dataTable = $('#filtersTable').DataTable();
            if (data['message'] === "completed") {
                var loaderImage = document.getElementById("loader");
                var paraElement = document.getElementById("para");
                var btnView = document.getElementById("btnview");
                var btnStop = document.getElementById("btnstop");
                {#var btnstop_ = document.getElementById("btnstop");#}
                loaderImage.style.display = "none";
                btnStop.style.display = "none";
                btnView.style.display = "block";
                {#btnstop_.style.display = "none";#}

                paraElement.textContent = "Process Completed";
            } else if (data['message']['venue'] === "" &&
                data['message']['Phone'] === "" &&
                data['message']['address'] === "" &&
                data['message']['website'] === "" &&
                data['message']['email1'] === "" &&
                data['message']['facebook'] === "") {
                console.log("empty")
            } else {
                var rowNode = dataTable.row.add(
                    [
                        data['message']['venue'],
                        data['message']['Phone'],
                        data['message']['address'],
                        data['message']['venuetype'],
                        data['message']['website'],
                        data['message']['Email1'],
                        data['message']['Email2'],
                        data['message']['Email3'],
                        data['message']['Email4'],
                        data['message']['FacebookEmail1'],
                        data['message']['FacebookEmail2'],
                        data['message']['facebook'],
                        ""
                    ]).draw().node();
            }
        });

    </script>
{% endblock javascripts %}
