{% extends 'layouts/base.html' %}

{% block title %}  {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.3.2/css/fixedHeader.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.bootstrap5.min.css">
{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
        
        <div class="container mt-5">
            <button class="btn btn-success bg-gradient-success" data-bs-toggle="modal" data-bs-target="#importTemplateModalMessage" onclick=importWorkflow()>Import Workflow</button>
            <div class="card col shadow-lg border-0 rounded-lg">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">My Workflows</h3></div>
                <div class="card-body">
                <table style="width:100%" id="filtersTable" class="table table-striped table-bordered nowrap">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Created on</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Rows will be added dynamically using JavaScript -->
                    </tbody>
                </table>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}
        <div class="col-md-6 col-xl-6">
            <!-- Modal -->
            <div class="modal fade" id="updataWorkflowModalMessage" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="updataWorkflowModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Update Workflow</h5>
                            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form action="/update/workflow" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="workflow-name" class="col-form-label">Name:</label>
                                    <input type="text" class="form-control" id="workflow-name" name="workflow-name" required>
                                </div>
                                <div class="form-group">
                                    <label for="workflow-description" class="col-form-label">Description:</label>
                                    <textarea type="text" class="form-control" id="workflow-description" name="workflow-description" required></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="workflow_id" name="workflow_id" hidden>
                                </div>
                            </div>
                            <div class="modal-footer form-group">
                                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn bg-gradient-primary" id="update-workflow-button" >Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6">
            <!-- Modal -->
            <div class="modal fade" id="importTemplateModalMessage" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="importTemplateModalMessageTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="importTemplateModalLabel">Import Template</h5>
                            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form action="/import/workflow" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="template-name" class="col-form-label">Select Template:</label>
                                    <!-- <input type="text" class="form-control" id="template-name" name="template-name" required> -->
                                    <select class="form-control form-select" id="select-template" name="select-template">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="template-description" class="col-form-label">Description:</label>
                                    <textarea type="text" class="form-control" id="template-description" name="template-description" readonly required></textarea>
                                </div>
                            </div>
                            <div class="modal-footer form-group">
                                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn bg-gradient-primary" id="import-template-button" >Import</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteTemplateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete this workflow?</h5>
                  <button type="button" class="btn-close text-dark" id="delete-workflow-button" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/workflow/delete" style="display: contents" method="post"> 
                    <input type="hidden" name="workflowid" id="delete-modal-tempid"/>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cancel</button>
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </div>
                </form>
              </div>
            </div>
          </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/responsive.bootstrap.min.js"></script>
<script>
    var templates = null;

    function importWorkflow() {
        fetch('/templates',{
            method: 'GET',
        })
        .then((response) => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json(); // Extract the response body as text
        })
        .then((res) => {
            var options = "";
            for (let i = 0; i < res.length; i++) {
                // console.log(res[i])
                options += '<option ' +  ' value="' + res[i].id +'">' + res[i].template_name + "</option>" + "<br>";
            }
            templates = res;
            if (res.length > 0) {
                document.getElementById("import-template-button").disabled = false;
                document.getElementById("select-template").innerHTML = options;
                document.getElementById("template-description").innerHTML = res[0].template_desc;
            } else {
                document.getElementById("import-template-button").disabled = true;
            }
            // console.log(templates);
        })
        .catch((err) => {
            console.log(err);
        });

    };


        
    $(document).ready(function () {
        const selectElement = document.getElementById("select-template");
        // const result = document.querySelector(".result");

        selectElement.addEventListener("change", (event) => {
            for (let  i = 0; i <  templates.length; i++) {
                if (templates[i].id == event.target.value) {
                    document.getElementById("template-description").innerHTML = templates[i].template_desc
                }
            }

        });

        // Initialize DataTable
        var dataTable = $('#filtersTable').DataTable({
                responsive: true,
                pageLength: 100,
                columnDefs: [
                {
                    target: 3,
                    render: DataTable.render.datetime()
                }],
                order : [],
                ajax: {
                    url: '/get_workflows',
                    dataSrc: ''
                },
                columns: [
                    //{#{data: 'id'},#}
                    {data: 'template_name'},
                    {data: 'template_desc'},
                    {
                        data: 'status',
                        render : function (status, type, row) {
                            var  label = ""
                            var id = row.id;
                            label = row.status === "publish" ? '<span class="badge bg-gradient-success">Active</span>' : '<span class="badge bg-gradient-secondary">Draft</span>';
                            
                            var chekced = '';
                            checked = row.status === "publish" ? 'checked' : '';
                            var publish_state = '<div class="form-check form-switch">' + 
                                                    '<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault_' + id +'" ' + checked + '>' +
                                                    label +
                                                '</div>';
                            return publish_state
                        }
                    },
                    {data: 'create_datetime'},
                    {
                        data: 'id', // Assuming the id property is present in your data
                        render: function (id, type, row) {
                            // Create action buttons HTML'
                            var tid = row.tid;
                            var buttons = '<button class="btn btn-facebook btn-sm" id="edit_' + id + '" template_name="' + row.template_name + '" template_desc="' + row.template_desc + '"   data-bs-toggle="modal" data-bs-target="#updataWorkflowModalMessage" >Edit</button> ' +
                                '<a class="btn btn-success btn-sm" href="/workflow/view/' + tid + '">View</a> ' +
                                '<button class="btn btn-danger btn-sm" data-bs-toggle="modal" id="del_' + id + '" data-bs-target="#deleteTemplateModal" >Delete</button>';
                                
                            return buttons;
                        }
                    }
                    
                ]
            },
        );
        
        $('#filtersTable').on('click', 'button', event => {
            if (event.target.innerText === "EDIT") {
                const id = event.target.id.split("_")[1];               
                document.getElementById("workflow-name").value = event.target.getAttribute('template_name');
                document.getElementById("workflow-description").innerHTML = event.target.getAttribute('template_desc');
                document.getElementById("workflow_id").value = id;

            } else if (event.target.innerText === "DELETE") {
                const id = event.target.id.split("_")[1];            
                document.getElementById("delete-modal-tempid").value = id;
            } else {
                console.log(event.target.innerText)
            }
        });

        $('#filtersTable').on('click', 'input', event => {

            const id = event.target.id.split("_")[1];

            Swal.fire({
                title: 'Updating...',
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                },
            });

            // Update workflow status
            fetch("/update/workflowstatus", {
                method: 'POST',
                body: JSON.stringify({
                    status : event.target.checked,
                    tempid : id,
                }),
                headers: { 'Content-type': 'application/json' }
            }).then(response => {
                    if(!response.ok)
                        return response.text().then(text => { throw new Error(text) })
                    else
                        return response.json()
                })
                .then(data => {
                    //handle data
                    // console.log(data)
                    dataTable.ajax.reload();
                    Swal.fire({
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 2000
                    });
                })
                .catch(error => {
                    //handle error
                    console.log(error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: data.message,
                    });
                });

        });

        
        $('#deleteTemplateModal').on('submit', function(e) { //use on if jQuery 1.7+
            e.preventDefault();  //prevent form from submitting
            const workflowid = document.getElementById("delete-modal-tempid").value;

            $('#delete-workflow-button').click();

            Swal.fire({
                title: 'Deleting...',
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                },
            });

            fetch('/workflow/delete',{
                method: 'POST',
                headers : { 'Content-Type': 'application/json' },
                body: JSON.stringify({"workflowid" : workflowid}),
            })
            .then((response) => {
                if(!response.ok)
                    return response.text().then(text => { throw new Error(text) })
                else
                    return response.json()
            })
            .then((data) => {
                if (data.success) {
                    // console.log(data);
                    dataTable.ajax.reload();
                    Swal.fire({
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 2000
                    });
                } else {
                    console.log(data.message);
                    Swal.fire({
                        icon: "warning",
                        title: "Cannot delete this action!",
                        text: data.message,
                    });
                }
            })
            .catch((err) => {
                console.log(err);
                Swal.fire({
                    icon: "warning",
                    title: "Oops...",
                    text: data.message,
                });
            })
        });

    });
</script>
{% endblock javascripts %}
