{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <h1 class="mb-4">Privacy Policy</h1>

    <p class="mb-4">Last updated: [Date]</p>

    <h2>1. Introduction</h2>
    <p>YourCompanyName ("us", "we", or "our") operates [yourwebsite.com] (the "Site"). This page informs you of our policies regarding the collection, use, and disclosure of Personal Information we receive from users of the Site.</p>

    <h2>2. Information Collection and Use</h2>
    <p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ("Personal Information").</p>

    <h2>3. Log Data</h2>
    <p>Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages, and other statistics.</p>

    <!-- Add more sections as needed -->

    <h2>4. Changes to This Privacy Policy</h2>
    <p>This Privacy Policy is effective as of [Date] and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.</p>

    <p>We reserve the right to update or change our Privacy Policy at any time, and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.</p>

    <h2>5. Contact Us</h2>
    <p>If you have any questions about this Privacy Policy, please contact us at [your@email.com].</p>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
