<!-- FILEPATH: /E:/Workspace/WebScrapers/ScrapeSite/Yelp/RoboticBookingAgent/apps/templates/home/unsubscribe_choose.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Unsubscribe</title>
</head>
<body>
    <h1>Choose an option to unsubscribe:</h1>
    <a style="border: 1px;" href="{{domain}}/unsubscribe/{{token}}" id="unsubscribeButton1">UNSUBSCRIBE ONLY THIS EMAIL</a>
    <br>
    <br>
    <a style="border: 1px;" href="{{domain}}/unsubscribe/all?token={{token}}&_id={{id}}" id="unsubscribeButton2">UNSUBSCRIBE ALL EMAILS ASSOCIATED</a>
</body>
</html>
