{% extends 'layouts/base.html' %}

{% block title %} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.3.2/css/fixedHeader.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.bootstrap.min.css">
{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
        <div class="container mt-5">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header"><h3 class="text-center font-weight-light my-1">Upload Contacts</h3></div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" id="upload-contact">
                        <div class="form-group">
                            <label class="small mb-1" for="category">Select file:</label>
                           <input class="form-control py-1" id="file" name="file" type="file" accept=".csv,.xlsx" required/>
                       </div>
                        <div class="form-group">
                            <label class="small mb-1" for="category">Description:</label>
                            <input class="form-control py-1" id="description" name="description" placeholder="Please enter short description about data" type="text" required/>
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button class="btn btn-success" type="submit">Upload</button>
                        </div>
                    </form>
                    
                    <div style="float: right;">
                        <a class="btn bg-gradient-info btn-sm" href="/masterview" >Switch to Master View &#8594;</a>
                    </div>
                    <table style="width:100%" id="filtersTable" class="table table-striped table-bordered nowrap">
                        <thead>
                        <tr>
                            <th>FileName</th>
                            <th>Description</th>
                            <th>Uploaded at</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Rows will be added dynamically using JavaScript -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/responsive.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        // Initialize DataTable
        var dataTable = $('#filtersTable').DataTable({
                responsive: true,
                columnDefs: [
                {
                    target: 2,
                    render: DataTable.render.datetime()
                }],
                order : [],
                ajax: {
                    url: '/uploaded_files',
                    dataSrc: ''
                },
                columns: [
                    //{#{data: 'id'},#}
                    {data: 'filename'},
                    {data: 'description'},
                    {data: 'create_datetime'},
                    {
                        data: 'id', // Assuming the id property is present in your data
                        render: function (id, type, row) {
                            // Create action buttons HTML
                            var filepath = '';
                            filepath = row.filepath;
                            var buttons = 
                                '<a class="btn bg-gradient-success btn-sm" href="contact/' + id + '">View</a> ' +
                                '<form style="display: contents" action="/contact/delete" method="post"> <input type="hidden" name="fileid" value="' + id + '"/><input class="btn btn-danger btn-sm" type="submit" value="Delete"></form>';
                            return buttons;
                        }
                    }
                ]
            },
        );
        $('#upload-contact').on('submit', function(e) { //use on if jQuery 1.7+
            e.preventDefault();  //prevent form from submitting
            const form = e.currentTarget;
            const formData = new FormData(form);
            
            fetch('/upload_contact',{
                method: 'POST',
                body: formData
            })
            .then((response) => {
                if(!response.ok)
                    return response.text().then(text => { throw new Error(text) })
                else
                    return response.json()
            })
            .then((data) => {
                if (data.success) {
                    // console.log(data);
                    dataTable.ajax.reload();
                    Swal.fire({
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 2000
                    });
                } else {
                    console.log(data.message);
                    Swal.fire({
                        icon: "error",
                        // title: data.message,
                        html: '<h4>' + data.message + '</h4> <br> <a target="_blank" href="https://docs.google.com/spreadsheets/d/17OascTooyDV8vijaqE6442ML4YfOLdBk1Fi0XnSUcrg/export?format=xlsx&gid=0">Download "Upload Template" Here</a>'
                    });
                }
            })
            .catch((err) => {
                console.log(err);
                Swal.fire({
                    icon: "warning",
                    title: "Oops...",
                    text: data.message,
                });
            })
        });
    });
</script>
{% endblock javascripts %}
