{% extends 'layouts/base.html' %}

{% block title %} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.3.2/css/fixedHeader.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.bootstrap.min.css">
{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
        <div class="container mt-5">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header"><h3 class="text-center font-weight-light my-1">Archived Contacts</h3></div>
                <div class="card-body">
                    <table style="width:100%" id="filtersTable" class="table table-striped table-bordered nowrap">
                        <thead>
                        <tr>
                            <th>FileName</th>
                            <th>Description</th>
                            <th>Uploaded at</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Rows will be added dynamically using JavaScript -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Add modal for confirming delete -->
        <!-- <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Archive Contact</h5>
                        <button type="button" class="btn-close text-dark" id="close-modal" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to archive this contact?
                    </div>
                    <form style="display: contents" method="post"> 
                        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="fileid" id="fileid"/>
                        <div class="modal-footer">
                            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cancel</button>
                            <input class="btn btn-danger" type="submit" value="Archive">
                        </div>
                    </form>
                </div>
            </div>
        </div> -->

        
        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/responsive.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        // Initialize DataTable
        var dataTable = $('#filtersTable').DataTable({
                responsive: true,
                columnDefs: [
                {
                    target: 2,
                    render: DataTable.render.datetime()
                }],
                order : [],
                ajax: {
                    url: '/archive_contacts',
                    dataSrc: ''
                },
                columns: [
                    //{#{data: 'id'},#}
                    {data: 'filename'},
                    {data: 'description'},
                    {data: 'create_datetime'},
                    {
                        data: 'id', // Assuming the id property is present in your data
                        render: function (id, type, row) {
                            // Create action buttons HTML
                            var filepath = '';
                            filepath = row.filepath;
                            var buttons = 
                                '<a class="btn bg-gradient-success btn-sm" href="contact/' + id + '">View</a> ' 
                                // '<button class="btn btn-secondary btn-sm" id="' + id + '" data-bs-toggle="modal" data-bs-target="#deleteModal" >Archive</button>';
                            return buttons;
                        }
                    }
                ]
            },
        );
        
        $('#filtersTable').on('click', 'button', event => {
            const id = event.target.id;
            if (event.target.innerText === "ARCHIVE") {
                document.getElementById("fileid").value = id;
            } else {
                console.log(event.target.innerText)
            }
        });

        // archive contact

        // $('#deleteModal').on('submit', function(e) { //use on if jQuery 1.7+
        //     e.preventDefault();  //prevent form from submitting
        //     const fileid = document.getElementById("fileid").value;

        //     $('#close-modal').click();

        //     Swal.fire({
        //         title: 'Archiving...',
        //         allowOutsideClick: false,
        //         didOpen: () => {
        //             Swal.showLoading();
        //         },
        //     });

        //     const formData = new FormData();
        //     formData.append('fileid', fileid);
        //     formData.append('csrf_token', document.getElementById("csrf_token").value);

        //     fetch('/contact/archive',{
        //         method: 'POST',
        //         body: formData
        //     })
        //     .then((response) => {
        //         if(!response.ok)
        //             return response.text().then(text => { throw new Error(text) })
        //         else
        //             return response.json()
        //     })
        //     .then((data) => {
        //         if (data.success) {
        //             // console.log(data);
        //             dataTable.ajax.reload();
        //             Swal.fire({
        //                 icon: 'success',
        //                 title: data.message,
        //                 showConfirmButton: false,
        //                 timer: 2000
        //             });
        //         } else {
        //             console.log(data.message);
        //             Swal.fire({
        //                 icon: "warning",
        //                 title: "Oops...",
        //                 text: data.message,
        //             });
        //         }
        //     })
        //     .catch((err) => {
        //         console.log(err);
        //         Swal.fire({
        //             icon: "warning",
        //             title: "Oops...",
        //             text: data.message,
        //         });
        //     })
        // });
    });
</script>
{% endblock javascripts %}
