{% extends 'layouts/base.html' %}

{% block title %}  {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}


    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.3.2/css/fixedHeader.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.bootstrap5.min.css">

{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
        <div class="container mt-5">
            {#            <div class="d-flex justify-content-center align-items-center min-vh-10">#}
            {#                <img height="100px" width="100ox" src="../../static/assets/img/loading.gif" alt="Centered Image"#}
            {#                     class="img-fluid">#}
            {#            </div>#}
            <div class="card-header"><h3 class="text-center font-weight-light my-4">URL Data</h3></div>
            <p class="text-center font-weight-light my-4"><a
                    href="{{ current_url.product_url }}">{{ current_url.product_url }}</a></p>

            <div class="card-body">
                <table style="width:100%" id="filtersTable" class="table table-striped table-bordered nowrap">
                    <thead>
                    <tr>
                        {#                            <th>ID</th>#}
                        {#                            <th>Username</th>#}
                        <th>venue</th>
                        <th>phone</th>
                        <th>address</th>
                        <th>type</th>
                        <th>website</th>
                        <th>email1</th>
                        <th>email2</th>
                        <th>email3</th>
                        <th>email4</th>
                        <th>facebookemail1</th>
                        <th>facebookemail2</th>
                        <th>facebook</th>
                        <th>bademail</th>

                    </tr>
                    </thead>
                    <tbody>
                    <!-- Rows will be added dynamically using JavaScript -->
                    </tbody>
                </table>
            </div>


        </div>

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/responsive.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.colVis.min.js"></script>


    <script>
        $(document).ready(function () {
            // Initialize DataTable
            $('#filtersTable').DataTable({
                    responsive: true,
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'copy',
                            filename: '{{ current_url.name }}'
                        },
                        {
                            extend: 'csv',
                            filename: '{{ current_url.name }}'
                        },
                        {
                            extend: 'excel',
                            filename: '{{ current_url.name }}'
                        },
                        {
                            extend: 'pdf',
                            filename: '{{ current_url.name }}',
                            orientation: 'landscape',
                            pageSize: 'LEGAL'
                        },
                        {
                            extend: 'colvis',
                            filename: '{{ current_url.name }}'
                        }
                    ],
                    ajax: {
                        url: '/viwe_url_history/{{ current_url.id }}',
                        dataSrc: ''
                    },
                    columns: [
                        {data: 'name', defaultContent : ""},
                        {data: 'phone', defaultContent : ""},
                        {data: 'address', defaultContent : ""},
                        {data: 'venue_type', defaultContent : ""},
                        {
                            data: 'website',
                            render: function (website, type, row) {
                                return '<a href="' + website + '" >' + website + ' </a>'
                            },
                        },
                        {data: 'email1', defaultContent : ""},
                        {data: 'email2', defaultContent : ""},
                        {data: 'email3', defaultContent : ""},
                        {data: 'email4', defaultContent : ""},
                        {data: 'fbemail1', defaultContent : ""},
                        {data: 'fbemail2', defaultContent : ""},
                        {
                            data: 'facebook',
                            render: function (facebook, type, row) {
                                return '<a href="' + facebook + '" >' + facebook + ' </a>'
                            },
                        },
                        {data: 'bademail', defaultContent : ""},
                    ]
                },
            );
            $('#filtersTable').DataTable().buttons().container()
                .appendTo('#example_wrapper .col-md-6:eq(0)');
        });
    </script>
{% endblock javascripts %}
